.App {
  text-align: center;
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
  margin: 0 5px;
}

.App-header {
  position: fixed;
  top: 10px;
  left: 10px;
  border: 1px solid silver;
  border-radius: 10px;
  padding: 0;
  background-color: #222;
  height: 40px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.App-title {
  font-size: 16px;
  margin: auto 10px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* Customize Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #444;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #666;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: steelblue;
}
